<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><i><%= @restaurant.category.capitalize %></i></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p><br>
  <%= link_to 'Back to Restaurants', restaurants_path %>
</div>
